body {
    font-family: "timesCondensed";
    background-color: #f4e9d8;
    /* fix this, i want the grain to go over every other element and then move independently!! */
    color: #642323;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}
/*
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-image: url(noise.svg);
    opacity: 0.4;
    pointer-events: none; 
    z-index: 9999; 
}
*/


@keyframes grain {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-1px, -1px); }
    50% { transform: translate(-1px, -1px); }
    75% { transform: translate(-1px, -1px); }
    100% { transform: translate(0, 0); }
}

@font-face {
    font-family: "timesCondensed";
    src: url('fonts/TimesNewRomanMTCondensedRegular.otf') format('opentype');
    }

.textcontainer {
    position: relative;
    margin-top: 400px;
    margin-bottom: 80px;
    margin-left: 250px;
}

h1 {
    color: #0e2f18;
    text-align: left;
    font-size: 6.5em;
    margin-bottom: 0em;
}

h2 {
    color: #642323;
    text-align: left;
    font-size: 6.5em;
    margin-top: -.15em;
    margin-left: 155px;
}

a {
    font-family: Helvetica, sans-serif;
    color: #0e2f18;
    font-size: 1.7em;
}


/* for top nav */
.topnav {
    background-color: #0e2f18;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f4e9d8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
    background-color: #8b3f3f;
}


.topnav a.active {
    background-color: #642323;
}

.biggift {
    background-color: #642323;
}

.clothes {
    background-color: #0e2f18;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    gap: 10px;
    margin-top: 45px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    margin: 10px;
    height: 250px;
    width: 350px;
    filter: drop-shadow(0 0 0.65rem rgb(229, 219, 166));
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1;
    text-decoration: none;
}

.item:hover {
    opacity: 0.7;
}

.item:active{
    transform: scale(0.95);
}

.captiontext {
    color: #f4e9d8;
    font-family: Helvetica, sans-serif;
    font-size: 1.5em;
    overflow-wrap: break-word;
    text-align: center;
    text-wrap: balance;
}

.textbox {
    position: relative;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
}
