body {
    font-family: Arial, sans-serif;
    background-color: #f4e9d8;
    color: #b9657c;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #609b72;
    margin-top: 50px;
    font-size: 3em;
}

p {
    margin-top: 50px;
    font-size: 1.7em;
}

a {
    font-family: Arial, sans-serif;
    color: #609b72;
    font-size: 1.7em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 30%;
    padding-top: 50px;
    }


/* for top nav */
.topnav {
    background-color: #609b72;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #c8e4d1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: background-color 0.3s ease;
}

.topnav a:hover {
    background-color: #b9657c;
}


.topnav a.active {
    background-color: #e45454;
}


.topnav a.active {
  background-color: #e45454;
}
